<div class="ion-page">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title class="ion-padding">
        Inventory
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Inventory</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content color="light">
      <section class="add-item">
        <ion-button id="open-modal" color="success" expand="block">Add item</ion-button>
      </section>
      <section class="inventory-list">
        <ion-list *ngIf="inventoryList$ | async as itemList; else noItems" [inset]="true">
          <ion-item *ngFor="let item of itemList;index as i; trackBy: trackBy">
            <ion-row class="item-row">

              <ng-container *ngIf="indexToEdit !== i; else editTemplate">
                <ion-col><ion-label>{{item.name}}</ion-label></ion-col>
                <ion-col>
                  <ion-label>{{item.quantity}}</ion-label>
                </ion-col>
                <ion-col>
                  <ion-button color="warning" (click)="setEditMode(item, i)"><ion-icon name="create"></ion-icon></ion-button>
                </ion-col>
              </ng-container>
            </ion-row>
          </ion-item>
        </ion-list>
      </section>

      <ion-modal #modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancel()">Cancel</ion-button>
              </ion-buttons>
              <ion-title>Enter item details</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <ion-card>
              <ion-card-content>
                <ion-input label="Item name" label-placement="floating" fill="outline"
                  (ionInput)="onInput($event, 'item')" placeholder="Enter item name"></ion-input>

                  <br />
                  
                <ion-input label="Item quantity" label-placement="floating" fill="outline"
                  placeholder="Enter item quantity" type="number" (ionInput)="onInput($event, 'qty')"></ion-input>
              </ion-card-content>
            </ion-card>
          </ion-content>
        </ng-template>
      </ion-modal>


    </ion-content>


  </ion-content>
</div>

<ng-template #noItems>
  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title class="title"> No Items in the inventory</ion-card-title>
    </ion-card-header>
  </ion-card>
</ng-template>

<ng-template #editTemplate>
  <ion-input label="Item name" [value]="itemToEdit.name" label-placement="floating" fill="outline" (ionInput)="onEditInput($event, 'item')"
    placeholder="Enter item name"></ion-input>

    <br />
    
  <ion-input [value]="itemToEdit.quantity" label="Item quantity" label-placement="floating" fill="outline" placeholder="Enter item quantity"
    type="number" (ionInput)="onEditInput($event, 'qty')"></ion-input>

  <ion-button color="secondary" (click)="changeQuantitityOfItemToEdit('+')" size="small">+</ion-button>
  
  <ion-button color="danger" (click)="changeQuantitityOfItemToEdit('-')" size="small">-</ion-button>

  <ion-button (click)="doneEditing()" size="small">✔</ion-button>

</ng-template>